<h1>Tacos!</h1>

<p>Welcome.</p>

<% fillings = ["Carnitas"] %>
<p>We have <%= fillings.count %> tacos</p>

<ul>
  <% for filling in fillings %>
    <li>...</li>
<li>Pescado</li>
<li>Mushroom</li>
<li>Avocado</li>
</ul>